@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* font */
  --ff: 'Avenir';
  --ff-bold: 'Avenir-bold';
  --ff-light: 'Avenir-light';
}

@font-face {
  font-family: 'Avenir';
  src: url('../public/AvenirLTStd-Roman.otf');
}

@font-face {
  font-family: 'Avenir-light';
  src: url('../public/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: 'Avenir-bold';
  src: url('../public/AvenirLTStd-Black.otf');
}

body {
  font-family: 'Nunito', sans-serif;
/*   font-family: 'Avenir', sans-serif !important; */
/*   font-family: var(--ff) !important; */
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.text_div p {
  @apply xl:text-lg sm:text-base leading-loose;
}

.text_div h2 {
  @apply text-xl xl:text-2xl sm:text-xl font-black;
}

.info__ {
  margin-top: 1.5rem !important;
}

@media screen and (max-width: 500px) {
  .text_div p {
    font-size: 0.95rem;
    line-height: 1.8;
  }
}

@media screen and (max-width: 800px) {
  .text_div {
    margin-top: 1.6rem !important;
  }
}


